.scores {
  font-weight: bold;
  text-decoration: underline;
  display: flex;
  justify-content: space-between;
}

.card-container {
  border: 2px solid ghostwhite;
  height: 70%;
  width: 100%;
  /* padding: 14px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* gap: 8px; */
  align-items: center;
}

.cards {
  height: 20%;
  width: 20%;
  border: 1px solid mediumspringgreen;
}
